// Variáveis para os estilos
$text-color: #fff;
$bg-color: #000000;

// Mixin para o botão de fechar
@mixin closeButtonStyles {
  background-color: $text-color;
  color: #000000;
  border-radius: 50%;
  display: inline-block;
  font-weight: bold;
  transition: background-color 200ms;
  float: right;
  width: 3%;
  text-align: center;
  border: 2px solid #7c7979;
  user-select: none;

  &:hover {
    background-color: #000000;
    color: #fff;
  }

  &:active {
    background-color: #f00635;
    color: #fff;
  }
}

/* Estilo para o container do modal */
.modal-containerExcluir {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}



